{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="login-container">
    <div class="login-header">
        <h1>Log In</h1>
    </div>

    <div class="login-body">
        <div class="errors">

        </div>
        <form class="login-form" action="{% url 'accounts:login' %}" method='post'>
            {% csrf_token %}
            {{ form.as_div }}
            <button type="submit" name="submit">Log in</button>

        </form>

        <div class="loginGoogle">
            <p>or</p>
            <button id="googleBtn">Login with Google</button>
        </div>
        <label for="register">
            <a href="{% url 'accounts:register' %}" id="register" class="register">Don't have an account? Click Here
                To Register</a>
        </label>

    </div>

</div>
<script type="module" src="{% static 'pdf/js/login.js' %}"></script>
{% endblock %}