<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>EmuPDF Hub - Your Complete PDF Management Suite</title>
    <link rel="icon" type="image/x-icon" href="{% static 'pdf/logo/clogowhite.png' %}">
    <link rel="stylesheet" href="{% static 'pdf/css/style.css' %}">

</head>
<body>
<div class="container">
    {% include 'parts/navbar.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'parts/footer.html' %}
</div>
<script src="{% static 'pdf/js/pdf.js' %}"></script>
<script src="https://www.gstatic.com/firebasejs/10.13.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.13.1/firebase-auth.js"></script>

</body>
</html>